body{
	font-family: 'Noto Sans KR', sans-serif; 
}
#background{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://d2x8kymwjom7h7.cloudfront.net/live/application_no/119001/application_no/119001/images/2.-Screenshot_1636597455494.jpg"); /* 샘플 */
	background-repeat: no-repeat; /* 배경화면 반복 여부 : 반복안함 */
	background-size: cover; /* 배경화면 가득 채우기 */
	background-position: center center ; /* 배경화면 중심 정가운데 */
	opacity: .5; /* 블러처리 */
}
#mainui{
	display: block;
	position: absolute;
	width: 1000px;
	height: 600px;
	margin-top: -300px; /* 크기의 절반만큼 */
	margin-left: -500px;
	top: 50%;
	left: 50%;
	z-index: 0; 
}
#mainui-grid{
	display: flex;
	column-count: 3; /* 3단 분리 */
	justify-content: space-between;
}
#mainui-grid > div{
	display: inline-block;
	width: 330px;
}
#mainui-login{
	height: 294px;
}
#mainui-guide{
	height: 590px;
}
#guide{
	width: 250px;
	text-align: center;
	font-size: 20px;
}
#mainui-savefile{
	height: 294px;
}
#mainui-leaderboard{
	height: 294px;
}
#mainui-member{
	height: 294px;
}
#member{
	height: 240px;
	width: 200px;
	text-align: center;
	font-size: 18px;
}
#member h2{
	position: relative;
	top: 0px;
	margin-top: 0px;
	margin-bottom:20px;
}
#mainui-login, #mainui-savefile, #mainui-leaderboard, #mainui-guide, #mainui-member, #mainui-game{ /* 메인ui 단체 적용  */
	background-color: #fff;
	border-radius: 10px;
	margin: 6px 0px;
	width: 329px;
	display: flex;
	align-items : center;
	justify-content: center;
}
#mainui-savefile button{
	width: 200px;
	height: 125px;
	border: 0;
	margin-bottom: 5px;
	font-size: 23px;
	color: white;
	background-color: #FF7043;
	border-radius: 8px;
	font-family: inherit;
	cursor: pointer;
}
#mainui-savefile button:hover{
	background-color: #F4511E;
}
#leaderboard-container{
	height: 240px;
	width: 200px;
	font-size: 18px;
	text-align: center;
}
#leaderboard-container h2 {
	position: relative;
	top:0px;;
    margin-top: 0px;
    margin-bottom: 20px;
}
#leaderboard-container ol {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
#login-form{
	position: relative;
	justify-content: center;
	align-items : center;
}
#login-form hr{
	margin: 0px;
}
#login input{ /* 로그인창 입력창 */
	margin-bottom: 15px;
    width: 270px;
    height: 40px;
    font-size: 16px;
    background-color: #F5F5F5;
    border-radius: 3px;
 	border: 1px solid #797979;
    padding: 0px;
    padding-left: 10px;    
}
#login input::-webkit-input-placeholder{
	font-size: 16px;
}

#login button{ /* 로그인 버튼*/
	width: 282px;
	height: 36px;
	border: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 16px;
	color: white;
	background-color: #006aff;
	border-radius: 3px;
	font-family: inherit;
	cursor: pointer;
}
#login button:hover{
	background-color: #0C60DE;
}
#signup button{ /* 회원가입 버튼 */
	width: 282px;
	height: 36px;
	border: 0;
	margin-bottom: 5px;
	font-size: 16px;
	color: white;
	background-color: #3f51b5;
	border-radius: 3px;
	font-family: inherit;
	cursor: pointer;
}
#signup button:hover{
	background-color: #303f9f;
}
.hidden{
	display: none;
}

#popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s ease;	
}
#popup-content {
	width: 440px;
	padding: 10px;
	padding-top: 0;
	padding-bottom: 25px;
	background-color: #ffffff;
	border-radius: 7px;
}
#popup-content h2 {
	text-align: center;
	margin-top: 2px;
}
#popup-content form {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-right: 15px;
}
#popup-content input[type="text"],
#popup-content input[type="password"]{
	margin-bottom: 10px;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #797979;
	}
#popup-content input[type="button"] {
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	background-color: #3f51b5;
	color: #ffffff;
	cursor: pointer;
}
#popup-content input[type="button"]:hover {
	background-color: #303f9f;
}
#close-btn {
	position: relative;
	left: 97%;
	cursor: pointer;
	font-size: 20px;
	font: bold;
}
#mainui-game{
	display: flex;
	height: 294px;
	align-items : center;
	justify-content: center;	
}
#mainui-gamewrap{
	position: relative;
	justify-content: center;
	align-items : center;
	margin-left: auto;
	margin-right: auto;
}
#profile {
	width: 280px;
	position: relative;
	justify-content: center;
	align-items : center;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	margin-bottom: 5px;
}
#profile-img{
	width: 280px;
	height: 80px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items : center;
}
#profile-img img{
	display: flex;
	width: 70px;
	height: 70px;
}
#profile-user{
	width: 280px;
	height: 40px;
	margin-bottom: 10px;
}
#game-start button{
	width: 282px;
	height: 36px;
	border: 0;
	margin-bottom: 8px;
	font-size: 16px;
	color: white;
	background-color:#4CAF50;
	border-radius: 3px;
	font-family: inherit;
	cursor: pointer;
}
#game-start button:hover{
	background-color:#388E3C;
}
#logout button{
	width: 282px;
	height: 36px;
	border: 0;
	margin-bottom: 5px;
	font-size: 16px;
	color: white;
	background-color: #E53935;
	border-radius: 3px;
	font-family: inherit;
	cursor: pointer;
}
#logout button:hover{
	background-color: #C62828;
}